doctype html
html(lang="en")
	head
		title SyncItBootstrap
		meta(charset="utf-8")

	body(data-in-production=production?1:0, data-persist-data=persistData?1:0)
		h1 SyncItBootstrap

		div
			strong Datasets:
			span(id="datasets")
		hr

		ul(id="list")

		form(id="addItemForm" style="display:none")
			input(type="text", id="item")
			button(id="addItem") Add Item

		a(href="#", id="newList") New List
		

	script(src="/vendor-bower/jquery/dist/jquery.js")
	if production
		script(src="/js/App.bin.js")
	else
		script(src="/js/App.js")
