doctype html
html(lang="en", manifest=production?"/offline.manifest.appcache":undefined)
	head
		title React • TodoMVC
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="utf-8")
		meta(content='True', name='HandheldFriendly')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/front.css")

	body(data-in-production=production?1:0, data-persist-data=persistData?1:0)
		h1 SyncItTodoMvc

		div#lists

		form(method="post")
			input(type="submit", value="Start a new Todo")

		#renameListPopup
		#mailtoPopup
		#okCancelPopup
		#updateNotifierPopup
		#loadingPopup

	script(src="/vendor-bower/react/react-with-addons.min.js")
	if production
		script(src="/js/App.bin.js")
	else
		script(src="/js/App.js")
	script.
		app.front();
