body {
	width: calc(100% - 10px);
	max-width: 600px;
}
#todo-list li.editing .edit {
	width: calc(100% - 43px);
}
#todo-list li .editbtn {
	display: none;
	position: absolute;
	top: 0;
	right: 40px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #3a3ab8;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#todo-list li .editbtn:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(27, 27, 209, 0.8);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

#todo-list li .editbtn:after {
	content: '✎';
}

#todo-list li:hover .editbtn {
	display: block;
}

